.button {
    padding: rem(10px) rem(40px);
    cursor: pointer;
	font-family: Helvetica, Arial, sans;
	border: none;
	border-radius: 3px;
	outline: none;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
    background-color: $gold;
    transition: .2s;
    box-shadow: 0 rem(5px) 0 0 darken($gold, 25%);
    background-color: $gold;
        &:hover {
            background-color: lighten($gold, 10%);
        }
        &:active {
            box-shadow: 0 rem(0px) 0 0 darken($gold, 20%);
            transform: translateY(rem(5px));
        }
        &:disabled{
            color: darken($white, 20%);
            background-color: lighten($gold, 30%);
            box-shadow: 0 rem(5px) 0 0 lighten($gold, 10%);
        }
}