
.header {
    display: flex;
    flex-flow: column;
    & li {
        list-style: none;
    }
}

.header__container {
    position: relative;
    display: flex; 
    flex-direction: column; 
}

.header__data {
    height: rem(250px);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); //тенюшка
  }

.header__nav {
    border-bottom-left-radius: rem(3px);
    border-bottom-right-radius: rem(3px);
}

.header__text {
text-transform: uppercase;
color: $white;
font-weight: bold;
text-align: center;
}
.header__title {
    font-size: rem(60px);
    @include tablets {
        font-size: rem(40px);
    }
}
.header__subtitle {
    font-size: rem(16px);
}

.header__contacts {
    position: absolute;
    bottom: rem(5px);
    right: rem(5px);
    display: flex;  
}

.header__logo {
    position: absolute;
    bottom: rem(5px);
    left: rem(5px);
}