$gold   : #FAC058;
$dark   : #212121;
$dark-1 : #373737;
$silver : #f1f1f1;
$gray   : #B3B9BA;
$green  : #61c269;
$red    : #c62828;
$white  : #fff;
$black  : #000;
$link   : #9acdfd;

//resolutions
$pc     : 1300px;
$tablets: 782px;
$phones : 600px;
$sphones: 350px;